.display {
    background-color: white;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.item-container {
    height: inherit;
    width: 100%;
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    background-color: #ffffff;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .error-message {
    color: black;
  }