body {
    margin-bottom: 20px;
    /* background-color: #ffffff; */
    background-image: url('https://i.ibb.co/FzcgY6x/IMG-3279.jpg');
    background-size: cover;
  }
  
  .App {
    text-align: center;
  }
  
  .loading {
    font-size: 24px;
    color: white;
  }

  .form-wrapper {
    margin: 1em;
    background-color: white;
    height: 3em;
    width: 10em;
    padding-right: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .top {
    background-color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    align-content: flex-start;
  }